<div class="container">
  <div class="organize">
  <div class="movie-card">
    <img src={{this.image}}/>
    <p>{{this.title}}</p>
    <a href="/movies/{{this._id}}">See More!</a>
  </div>
</div>
</div>
