body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;


}

.background{
    border: none;
    height: 1024px;
    background-image: url('../images/backgroundmovie.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.main-title{
  position: relative;
  top: 350px;
  right: 250px;
  font-weight: bold;
  display: flex;
  float: right;
  color: white;
  font-size: 90px;
}

.container{
  display: flex;
}

.organize{
  display: flex;
  justify-content: space-evenly;
}

.main-content{
  position: relative;
  top: 400px;
  right: 250px;
  float: right;
  clear: both;
  color: white;
  font-size: 40px;
}

.movie-card{
  display: flex;
  flex-direction: column;
  justy-content: space-between;
  border-style: solid;
  border-color: black;

}

.movie-information{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  border-color: black;
  background-color: lightblue;
}

.button{
  border-radius: 20px;
  position: relative;
  top: 400px;
  right: 400px;
  float: right;
  clear: both;
  color: #00B7FF;
  font-size: 20px;
  height: 50px;
  width: 200px;
}

a {
  color: #00B7FF; }
