<div class="background">
  <h1 class="main-title">{{title}}</h1>
  <p class="main-content">Welcome to {{title}}</p>
  <button class ="button" onclick="window.location.href='/movies'">Check the Movies!</button>
</div>
